@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
}



.ql-editor {
    font-size: 1.05rem;
}

.post-content {
    font-family: "Arial", sans-serif;
    line-height: 1.8;
    font-size: 1.1rem;

}

.post-content h2, .post-content h3, .post-content h4 {
    /* Adjust this size as needed */
    font-weight: bold;
}
.post-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    clear: both; /* Ensure images don't float under text */
  }


.post-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-content h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.post-content p {
    margin-bottom: 15px;
    text-align: justify;
}

.post-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 8px;
}

.post-content ul,
.post-content ol {
    margin-left: 20px;
    padding-left: 20px;
    
}

.post-content ul li ,
.post-content ol li  {
    font-size: 1rem;
    
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}
.post-content ul li::before ,
.post-content ol li::before  {
    content: '✔';
    position: absolute;
    left: 0;
    top: 0;
    color: #ff8181; /* Light blue color */
    font-size: 1.2rem;
}


.post-content blockquote {
    font-style: italic;
    border-left: 4px solid #007bff;
    padding-left: 15px;
    margin: 20px 0;

}

